body {
    color: white;
    background: black;
    margin: 0px;
}

header {
    border-bottom: solid 8px rgb(103, 0, 45);
    padding: 10px;
    font-size: 60px;
    color: rgb(125, 6, 62);
}

section {
    background: rgb(37,0,19);
    background: linear-gradient(0deg, rgba(37,0,19,1) 0%, rgba(0,0,0,1) 100%);
	padding-bottom: 80px;
	padding-top: 80px;
    font-size: 30px;
	display: flex;
	justify-content: center;
}

.chamada-texto {
    margin-right: 5%;
}